.about {
	background-color: $site-bgcolor_2;

	&__container {
		padding: 30px 0 70px 0;
	}

	&__wrap {
		display: grid;
		grid-template: 1fr/ 1fr 1fr;
		gap: 30px;
		align-items: flex-start;
	}

	&__title {
		@include text-reset;
		font-family: 'RTTFirsNeue';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 31px;
		color: #FFFFFF;
	}

	&__left {
		&-descr {
			@include text-reset;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			color: #CACACA;
		}
	}

	&__right {
		&-img {
			height: 255px;
			margin-bottom: 30px;
			@include bg-image;
			background-image: url(../images/foto.jpg);
		}


	}

	.form {
		display: grid;
		grid-template: 22px 50px 0/ 1fr 126px;
		gap: 10px;

		&__title {
			grid-column: span 2;
			@include text-reset;
			font-family: 'RTTFirsNeue';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 22px;
			color: #FFFFFF;
		}

		&__email {
			position: relative;
		}

		&__email-input {
			@include text-reset;
			width: 100%;
			padding: 16px 23px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #CACACA;
			border: none;
			outline: none;
			@include theme-colors($light-theme: false);
		}

		&__btn {
			@include btn-primary
		}

	}
}

@media only screen and (max-width: 1919px) {
	.about {
		&__container {
			padding: 30px;
			padding-bottom: 80px;
		}

		&__right {
			&-img {
				height: 332px;
				margin-bottom: 22px;
				background-image: url(../images/foto_1024.jpg);
			}
		}

		.form {
			grid-template: 22px 50px 50px/ 1fr 126px;
			gap: 15px;

			&__btn {
				grid-row: 3/4;
				width: 126px;
			}
		}

	}

}

@media (max-width: 1023px) {
	.about {
		&__container {
			padding: 30px 27px 70px 27px;
		}

		&__right {
			&-img {
				height: 569px;
				margin-bottom: 24px;
				background-image: url(../images/foto_768.jpg);
			}
		}

		.form {
			gap: 20px;

			&__email {
				grid-column: span 2;
			}
		}
	}
}

@media (max-width: 767px) {
	.about {
		&__container {
			padding: 32px 21px 60px 21px;
		}

		&__title {
			margin-bottom: 6px;
			font-size: 18px;
			line-height: 23px;
		}

		&__left {
			max-width: 100%;
			grid-column: span 2;

			&-descr {
				font-size: 14px;
				line-height: 25px;
			}
		}


		&__right {
			margin-top: -8px;
			grid-column: span 2;

			&-img {
				height: 278px;
				margin-bottom: 24px;
				background-image: url(../images/foto_320.jpg);
			}
		}

		.form {
			gap: 20px;
			grid-template: 22px 40px 40px/ 1fr;

			&__title {
				font-size: 18px;

			}

			&__btn {
				padding: 12px 22px;
			}

			&__email {
				grid-column: span 2;

				&-input {
					padding: 12px 23px;
				}
			}

		}
	}
}