.hero {
	padding: 41px 0 68px 0;

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(auto-fit, minmax(343px, 1fr)) repeat(auto-fit, minmax(257px, 1fr));
		gap: 30px;
	}

	&__master {
		position: relative;
		display: grid;
		grid-row: span 2;
		grid-column: span 6;
		align-items: end;
		justify-items: left;
		@include bg-image;
		background-image: url('../images/card_master.jpg');

		&-text {
			@include hashtagcard(15, 15, 7, 15, $site-bgcolor_2);
		}

		&-wrapper {
			padding: 60px;
		}

		&-title {
			@include text-reset;
			margin-bottom: 3px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}

		&-descr {
			@include text-reset;
			font-family: 'RTTFirsNeue';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 104%;
			color: #FFFFFF;
			margin-bottom: 19px;
		}

		&-btn {
			@include btn-primary
		}
	}

	&__other {
		&__bottom {
			grid-column: span 3;

			&-img {
				height: 100%;
			}
		}

		&__top {
			grid-column: span 6;

			&-img {
				height: calc(100% - 50px);
			}

			&-title {
				@include text-reset;
				margin-bottom: 18px;
				font-family: 'RTTFirsNeue';
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 104%;
				color: #202020;
			}
		}
	}
}

@media (max-width: 1919px) {
	.hero {
		padding: 34px 30px 68px 30px;

		&__other__top-title {
			margin-bottom: 26px;
		}

		&__container {
			grid-template-rows: repeat(auto-fit, minmax(365px, 1fr)) repeat(auto-fit, minmax(186px, 1fr));
		}

		&__master {
			background-image: url('../images/card_master_1024.jpg');

			&-title {
				margin-bottom: 10px;
			}

			&-descr {
				font-size: 34px;
				line-height: 100%;
				margin-bottom: 21px;
			}

			&-wrapper {
				padding: 30px;
			}
		}
	}
}

@media (max-width: 1023px) {
	.hero {
		padding: 34px 27px 68px 27px;

		&__container {
			grid-template-rows: repeat(auto-fit, minmax(241px, 1fr)) repeat(auto-fit, minmax(133px, 1fr));
		}

		&__master {
			background-image: url('../images/card_master_768.jpg');

			&-title {
				margin-bottom: 13px;
			}

			&-descr {
				line-height: 90%;
				margin-bottom: 23px;
			}
		}

		&__other__top-title {
			font-size: 22px;
			margin-bottom: 17px;
		}

	}
}

@media (max-width: 767px) {
	.hero {

		padding: 30px 21px 50px 21px;

		&__container {

			grid-template-columns: repeat(2, 1fr);
			// grid-template-rows: repeat(auto-fit, minmax(422px, 1fr)) repeat(auto-fit, minmax(186px, 1fr)) repeat(auto-fit, minmax(105px, 1fr));
			grid-template-rows: minmax(auto, 4fr) minmax(auto, 2fr) minmax(auto, 1fr);
		}

		&__master {
			background-image: url('../images/card_master_320.jpg');
			grid-row: span 1;
			grid-column: span 2;

			&-text {
				@include hashtagcard(6, 5, 4, 7, $site-bgcolor_2);
				font-size: 12px;
				line-height: 14px;
			}

			&-title {
				margin-bottom: 9px;
				font-size: 14px;
				line-height: 16px;
			}

			&-descr {
				margin-bottom: 14px;
				font-size: 24px;
				line-height: 110%;
			}

			&-btn {
				padding: 12px 22px;
				font-size: 14px;
				line-height: 16px;
			}
		}

		&__other {

			&__top {
				padding-top: 4px;
				grid-column: span 2;

				&-title {
					font-size: 18px;
				}
			}

			&__bottom {
				grid-column: span 1;
			}
		}
	}
}