@mixin list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

@mixin text-reset {
	padding: 0;
	margin: 0;
}

@mixin lighten-hover($color) {
	transition: color 0.3s ease-in-out;

	&:hover {
		color: lighten($color, 20%);
	}
}

@mixin bg-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin btn-primary {
	padding: 16px 22px;
	background-color: #FF6E30;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;

	&:focus:not(:hover):not(:active),
	&:focus-visible:not(:hover):not(:active) {
		outline: 3px solid #CE4307;
	}

	&:hover:not(:active) {
		background-color: #BC572B;
	}

	&:active {
		background-color: #CE4307;
	}
}

@mixin btn-secondary {
	width: 121px;
	padding: 16px 22px;
	background-color: transparent;
	outline: 3px solid #FF6E30;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	transition: background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out;

	&:focus:not(:hover):not(:active),
	&:focus-visible:not(:hover):not(:active) {
		background-color: #BC572B;
	}

	&:hover:not(:active) {
		background-color: #FF6E30;
	}

	&:active {
		background-color: #CE4307;
		outline-color: #CE4307;
	}
}

@mixin hashtagcard($top, $right, $padtop, $padright, $bgcolor) {
	position: absolute;
	top: #{$top}px;
	right: #{$right}px;
	@include text-reset;
	padding: #{$padtop}px #{$padright}px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	background-color: $bgcolor;
}

@mixin calendar {
	position: absolute;
	@include bg-image;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-right: 4px;
	box-sizing: border-box;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41399_393)'%3E%3Cpath d='M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z' fill='%23999999'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41399_393'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: 14px 14px;
	background-clip: content-box;
}

@mixin calendar-white {
	position: absolute;
	@include bg-image;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-right: 4px;
	box-sizing: border-box;
	background-size: 14px 14px;
	background-clip: content-box;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41399_393)'%3E%3Cpath d='M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41399_393'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

@mixin obj-fill-color {
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: -1px;
		bottom: -1px;
		left: -6px;
		right: -6px;
		color: #FFFFFF;
		background-color: #BC572B;
		outline: none;
		border: none;
		visibility: hidden;
		transition: color 0.3s ease-in-out;
	}
}

@mixin theme-colors($light-theme: true) {
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;

	@if $light-theme {

		&:focus:not(:hover):not(:active),
		&:focus-visible:not(:hover):not(:active) {
			color: #999999;
			background-color: #E9E9E9;
			outline: 1px solid #FF6E30;
		}

		&:hover:not(:active) {
			color: #FF6E30;
			background-color: #E9E9E9;
		}

		&:active {
			color: #202020;
			background-color: #E9E9E9;
		}
	}

	@else {

		&:focus:not(:hover):not(:active),
		&:focus-visible:not(:hover):not(:active) {
			color: #CACACA;
			background-color: #4A4A4A;
			outline: 1px solid #FF6E30;
		}

		&:hover:not(:active) {
			color: #FF6E30;
			background-color: #4A4A4A;
		}

		&:active {
			color: #FFFFFF;
			background-color: #4A4A4A;
		}
	}
}